{{ define "main" }}
<main aria-role="main"> 
    <div class="container">
        {{ $p := (where .Site.RegularPages "Section" "post").ByDate }}
        <div class="row">
        {{ range $p }}
            <div class="col-sm-6 col-lg-4"> 
            {{ $img := .Resources.GetMatch .Params.thumbnail }}
                <figure class="figure">
                        <a href="{{ $img.RelPermalink | path.Dir }}">
                            <img src="{{ $img.RelPermalink }}" class="figure-img img-fluid" width="{{ $img.Width }}" height="{{ $img.Height }}">
                        <div class="overlay">
                            <div class="bottom-left">
                                {{ .Params.caption }}
                            </div>
                        </div>
                        </a>
                </figure>
            </div>
        {{ end }}
        </div>
    </div>
</main>
{{ end }}
