{{ define "main" }}
<main aria-role="main">
    {{ $p := (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
    <div class="row g-5">
        {{ range $p }}
        <div class="col-sm-6 col-lg-4 smooth-resize"> 
            {{ if eq (path.Ext .Params.thumbnail) ".png" }} 
            {{ $img := (.Resources.GetMatch .Params.thumbnail).Resize "1000x" }}
            <div class="gallery-item">
                <a href="{{ $img.RelPermalink | path.Dir }}">
                    <img src="{{ $img.RelPermalink }}">
                    <div class="overlay-background d-none d-sm-block">
                        <div class="overlay-text">
                            {{ .Params.title }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="d-block d-sm-none">{{ .Params.title }}</div>
            {{ else }}
            {{ $vid := .Resources.GetMatch .Params.thumbnail }}
            <div class="gallery-item">
                <a href="{{ $vid.RelPermalink | path.Dir }}">
                    <video autoplay loop muted><source src="{{ $vid.RelPermalink }}"></video>
                    <div class="overlay-background d-none d-sm-block">
                        <div class="overlay-text">
                            {{ .Params.title }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="d-block d-sm-none">{{ .Params.title }}</div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</main>
{{ end }}
