@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

#myheader {
  font-size: 2em;
}

.hovtxt {
    background:#00000080;
    opacity:0;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    height:300px;   
}

.hovtxt:hover {
    opacity:1;
}

body {
  font-family: 'Signika', sans-serif;
  font-size: 1.2em;
}

.figure {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity:0;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 4px black;
    /* padding: .5rem; */
    opacity: 1;
}

.overlay:hover {
    opacity: 1.0;
    transition: opacity .5s
}

.figure {
    transition: all .2s;
}

/* .figure:hover {
    transform: scale(1.01);
} */

