@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,500&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 1em;
}

main {
    padding-top: 180px;
    line-height: 2;
}

img {
    max-width: 100%;
    height: auto;
}

.mainwrap {
    max-width: 1200px;
    width: 95%;
    min-height: 100vh;
    /* min-height: calc(100vh - 500px - 200px); */
    display: flex;
    flex-direction: column;
}

.figure {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all .5s ease;
    z-index: 0;
}

.overlay:hover {
    opacity: 1.0;
    transition: opacity .5s ease;
}

.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    text-shadow: 1px 1px 10px black;
    opacity: 1;
    font-size: 1em;
}

.smooth-resize {
    transition: all 0.3s ease;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

.navbar {
    height: 100px;
    background-color: white;
    position: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 4;
    width: 95%;
    transition: all .5s ease;
    max-width: 1300px;
}

.navbar-nav {
    font-size: 1.2em;
}

.navbar-collapse {
    background-color: white;
    display: block;
    text-align: left;
    transition: all .5s ease;
}

.nav--hidden {
    transform: translateY(-100px);
}

#myheader {
    font-size: 2em;
    font-weight: normal;
}

/* Footer */

.footer {
    margin-top: auto;
    height: 500px; 
    padding-top: 180px;
    margin-bottom: 200px;
}

.pagination {
    font-size: 1.2em;
}

.footerwrap {
    max-width: 2350px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.footerlink {
    color: grey;
    font-style: italic;
    text-decoration: underline;
}




/* img {
    padding-left: 20px;
    padding-right: 20px;

    margin: 0px;
}

video {
    padding-left: 20px;
    padding-right: 20px;
    
    margin: 0px;
}
   */

