body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

img {
    max-width: 100%;
    height: auto;
}

#myheader {
  font-size: 2em;
  font-weight: normal;
}

.figure {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity:0;
    transition: all .5s ease;
}

.overlay:hover {
    opacity: 1.0;
    transition: opacity .5s ease
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 20px black;
    opacity: 1;
    font-size: 1em;
    /* -webkit-text-stroke: 1px black;  */
}

.pagewrap {
    max-width: 1200px;
    width: 95%;
}

.smooth-resize {
    transition: all 0.3s ease;
}

.navbar-collapse {
    position: relative;
    display: block;
    text-align: left;
}

  

