@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
    height: 100%;
}

body {
    font-family: 'Pathway Extreme', sans-serif;
}

main {
    padding-top: 180px;
    line-height: 2;
    display: block;
}

.main-wrap {
    max-width: 1200px;
    width: 95%;
    /* min-height: 100vh; */
    /* Height of main-wrap + Height of footer needs to be 100vh so that there is no scroll bar on empty pages (e.g. Contact).
    See footer elements for values of size calculation  */
    min-height: calc(100vh - max(100px, 8vw) - max(100px, 10vw) - 6vw - 24px); 
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.smooth-resize {
    transition: all 0.2s ease;
}

/* Header */

.navbar {
    height: 120px;
    background-color: white;
    position: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 4;
    width: 95%;
    transition: all .5s ease;
    max-width: 1300px;
}

.nav-link:hover {
    color: black;   
}

.nav-link {
    color: black;   
}

.navbar-nav {
    font-size: 1.2em;
}

.active {
    text-decoration: underline;
}

.navbar-collapse {
    background-color: white;
    display: block;
    text-align: left;
    transition: all .5s ease;
}

.nav--hidden {
    transform: translateY(-120px);
}

#myheader {
    font-size: 2em;
    font-weight: normal;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Footer */

.footer-wrap {
    max-width: 2200px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.pagination {
    font-size: 1.2em;
}

.footer-link {
    color: grey;
    font-style: italic;
    text-decoration: underline;
}

.footer-spacer-top {
    height: 6vw;
}

.footer-spacer-middle {
    height: 10vw;
    min-height: 100px;
}

.footer-spacer-bottom {
    height: 8vw;
    min-height: 100px;
}

.footer-arrow {
    font-size: 1.2em;
    color: black;
}

/* Home page */

.gallery-item {
    position: relative;
    display: flex;
}

.overlay-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

.overlay-background:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color .3s ease;
}

.overlay-background:hover .overlay-text {
    opacity: 1;
    transition: opacity .3s ease;
}