@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

.figure-caption {
  color: black;
}

#myheader {
  font-size: 2em;
}

/* .hovtxt {
    background:#00000080;
    opacity:0;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    height:300px;   
}

.hovtxt:hover {
    opacity:1;
} */

body {
  font-family: 'Signika', sans-serif;
  font-size: 1.2em;
}

.figure {
    position: relative;
    text-align: center;
}

.bottom-left {
    color: white;
    opacity: 0.0;
    text-shadow: 1px 1px 4px #000;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.bottom-left:hover {
    opacity: 1.0;
    transition: opacity .5s
}

.figure {
    transition: all .2s;
}

.figure:hover {
    transform: scale(1.01);
}

