<div class="d-flex flex-column footer">
    {{ if eq (.Page.Section) "posts" }}
    <div class="d-flex justify-content-between pagination">
        <div class="d-flex flex-row text-center align-items-center">
            {{ with .PrevInSection }}
                <div><</div>
                <div><a href="{{.Permalink}}">{{.Title}}</a></div>
            {{ end }}
        </div>
        <div class="px-5"></div>
        <div class="d-flex flex-row text-center align-items-center">
            {{ with .NextInSection }}
                <a href="{{.Permalink}}">{{.Title}}</a>
                <div>></div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    <div class="text-center mb-sm-1 mb-lg-5"><a href="/" class="footerlink">lucasdavey.xyz</a></div>
</div>